[submodule "submodules/csv-parser"]
	path = submodules/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "submodules/easyloggingpp"]
	path = submodules/easyloggingpp
	url = https://github.com/abumq/easyloggingpp.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/fkYAML"]
	path = submodules/fkYAML
	url = https://github.com/fktn-k/fkYAML.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
