[submodule "eigen-3.4.0"]
	path = eigen-3.4.0
	url = https://gitlab.com/libeigen/eigen.git
[submodule "csv-parser-2.3.0"]
	path = csv-parser-2.3.0
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "fkYAML-0.3.9"]
	path = fkYAML-0.3.9
	url = https://github.com/fktn-k/fkYAML.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/abumq/easyloggingpp.git
